
@{
    ViewData["Title"] = "Index";
}
<style>
    #contentFrame {
        width: 100%;
        height: 500px;
    }
</style>
<h2>Index</h2>

<iframe id="contentFrame" src="~/ScormPackage/01/index.html"></iframe>