
@{
    ViewData["Title"] = "Index";
}
<style>
    #contentFrame {
        width: 100%;
        height: 500px;
    }
</style>
<h2>Index</h2>

<iframe id="contentFrame" src="~/ScormPackage/01/index.html"></iframe>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/SCORM_API_wrapper.js"></script>
<script src="~/js/scorm-run.js"></script>
<script>
    $(document).ready(function () {
        ScormApi.play()
    })
    
</script>