
@{
    ViewData["Title"] = "Index";
}
<style>
    #scorm-frame {
        width: 100%;
        height: 500px;
    }
</style>
<h2>Scorm player</h2>


<iframe id="scorm-frame" ></iframe>


<button type="button" id="btnTest">test Scorm</button>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/scorm-adapter.js"></script>
<script src="~/js/scorm-run.js"></script>
<script>
    $(document).ready(function () {
        ScormApi.play()
    })

    $("#btnTest").click(function () {
       console.log(JSON.parse(window.API.GetValue("cmi.location")))

    })
    
</script>